.SignupPage-title {
  text-align: center;
}

.SignupPage-form {
  background-color: rgba(38, 39, 48, 0.141);
  margin: auto;
}

.SignupPage-input {
  margin: auto;
}

.LoginPage-alert {
  display: flex;
  justify-content: center;
}